ion-content{
  background: url(https://cdn.jsdelivr.net/gh/Nichogonz/ionic-ysfgxi@master/Screenshot%202021-05-02%20195257esertsdy.png);

}


 div{
  color:rgb(6, 49, 54);
  text-align: justify;
  font-family: Helvetica;
  font-size: 15px;
  top: 120px;
  margin: auto;
  

}  

 
